/* General styles */


header {
	background-color: #042c39;
	color: #cfd4dd;
	height: 100px;
	position: sticky;
	top: 0;
	z-index: 500;
	/* border-radius: 20px; */
}


.head {
	display: flex;
	font-size: 44px;
	justify-content: center;
	padding: 25px;
}

body {
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: -300;
	background-color: #a3e5ff;
	border-radius: 20px;
}

.container2 h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	padding: 10px;

	word-wrap: wrap;
}

.intro {
	display: flex;
	justify-content: center;
}



.container2 {
	margin: 10px;
	margin-bottom: 10px;

}

.container3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin: 10px auto;
	flex-wrap: wrap;
	gap: 1em;
	border: 4px solid black;
	border-radius: 20px;

}


.foot {
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;

}



footer {
	background-color: #042c39;
	color: white;

	position: sticky;
	bottom: 0;
	width: 100%;
	/* border-radius: 20px; */
}

.copy {
	display: flex;
	align-items: center;
	justify-content: center;
}






.link1 {
	margin-left: 6px;
	text-decoration: none;
	margin-bottom: 15px;
}

a {

	text-decoration: none;
	color: black;
	width: 20%;
	word-wrap: normal;
	align-self: center;

}

.address img {
	display: flex;
	justify-content: center;
	height: 200px;
	width: 90%;
	margin: auto auto;
	border-radius: 15px;
}

p {
	display: flex;
	justify-content: center;
	align-items: center;
	column-count: 1;
	margin-left: 28px;

}

.address h3 {
	display: flex;
	justify-content: center;
}



.address {

	padding: 10px;
	margin: 20px;
	border: 2px solid black;
	border-radius: 20px;
	padding-top: 20px;
	width: 25%;
	height: 100%;
	justify-content: center;
}



/*********************************************************/

#menu {
	width: 35px;
	height: 30px;
	margin: 20px 0px 20px 20px;
	cursor: pointer;
	position: absolute;
	z-index: 200;

	/* border: 2px solid black; */
}

.bar {
	height: 5px;
	width: 100%;
	background-color: #000000;
	border-radius: 5px;
}

#bar1 {
	transform: translateY(-4px);
}

#bar3 {
	transform: translateY(4px);
}

.nav li a {
	color: black;
	text-decoration: none;

}

.nav li a:hover {
	border: 1px solid black;
}

.nav li {
	list-style: none;
	padding: 16px 0;
}

.nav {
	padding: 0;
	margin: 0 20px;

	display: none;
	z-index: 0;
}

.icon .bar {
	background-color: #000000;
	position: relative;
	z-index: 200;
}

.icon #bar1 {
	transform: translateY(4px) rotate(45deg);


}

.icon #bar3 {
	transform: translateY(-6px) rotate(-45deg);

}

.icon #bar2 {
	opacity: 0;

}

.change {

	background-color: #026a5c;
	height: 100vh;
	margin: 0;
	position: absolute;
	font-size: 30px;
	top: 120;
	z-index: 100;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

/********************************************/

.container4 {
	position: relative;
	z-index: 0;
}

.time {
	display: flex;
	justify-content: center;
}

.description p {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto 20px;
	position: relative;
	z-index: -200;
	word-wrap: wrap;
	margin-top: 70px
	/* font-size: large; */
}

.main_menu {
	display: flex;
	justify-content: center;
	background-color: #005b7f;
	border-top: 4px solid black;
	border-bottom: 3px solid black;

}

.type {
	display: flex;
	justify-content: space-around;


}

.type .veg {
	display: flex;
	background-color: rgb(0, 154, 0);
	width: 50%;
	justify-content: center;
	border: 2px solid black;
}

.type .nonveg {
	display: flex;
	background-color: rgb(193, 8, 8);
	width: 50%;
	justify-content: center;
	border: 2px solid black;
}

.snacks {
	display: flex;
	justify-content: center;
	background-color: #3b9ec6;
	border-bottom: 2px solid black;
}

.snacks_item {
	display: flex;
	justify-content: space-around;
	border-bottom: 2px solid black;

}

.item1 {

	display: flex;
    margin: 4px;
    padding: 2px;
    word-wrap: normal;
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 50%;
    word-wrap: normal;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}

.item1 p {

	margin: 4px;
	padding: 2px;
	align-items: center;
	border: 2px dashed black;
	justify-content: center;
	align-items: center;
	word-wrap: normal;
	cursor: pointer;
	position: relative;
	z-index: 100;

}

.item1 p:hover {
	border: 1px solid black;
}



.item1 font {

	margin: 4px;
	padding: 2px;
	align-items: center;
	justify-content: right;
	align-items: center;
	word-wrap: wrap;
	position: relative;
	background-color: #026a5c;

}


footer.bill {
	display: flex;
	background-color: #005b7f;
	color: white;
	position: sticky;
	bottom: 0;
	width: 100%;
	justify-content: space-evenly;
	height: 55px;
	align-items: center;
	z-index: 500;

}

.bill .proceed {
	border: 2px solid black;
	padding: 4px;
	border-radius: 10px;
}

.thanks {
	display: flex;
	align-items: center;
	font-size: large;
	word-wrap: wrap;
	margin: 40px;

}

@media only screen and (max-width:1000px) {
	.change {
		width: 40%;
	}
}

@media only screen and (max-width:500px) {
	.change {
		width: 65%;
	}
}

@media (max-width: 436px)
{
	.head
	{
		font-size: 30px;
	}

	header
	{
		height: 85px;
	}

}

@media (max-width: 890px)
{
	.container3
	{
		justify-content: space-evenly;
		max-width: 800px;
	}

	.address
	{
		width: 35%;
	}
}

@media (max-width: 600px)
{
	.container3
	{
		flex-direction: column;
	}

	.address
	{
		width: 70%;
	}

	.total_bill {
		width: 40%;
	}

	footer.bill
	{
		height: 85px;
	}


}

.time h3 {
    display: flex;
    margin: 10px 20px;
}
